<link rel="alternate" href="/atom.xml" title="stderr.timfischbach.de" type="application/atom+xml" />

<link rel="stylesheet" href="/assets/stylesheets/main.css">
<link rel="stylesheet" href="/assets/stylesheets/highlight.css">

<script src="/assets/javascripts/highlight.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<meta name="keywords" content="Blog, Software, Development, Web, Ruby, Javascript, Rails, OOP, Object Oriented Design, Refactoring, Programming, HTML5">
<meta name="description" content="A blog about software development.">
<meta name="author" content="Tim Fischbach">
