#me {
  padding-left: 20%;
  padding-top: 5%;
  height: 100%;

  h2 {
    margin-top: 0;
    margin-left: -58px;
  }

  ul {
    padding: 0;
    list-style: none;
  }

  li {
    padding: 0;
    margin: $baseline-grid-height * 2;
  }

  li a {
    display: block;
    @include icon-in-margin($font-size: 100px, $left: -130px, $top: 125%);
  }

  a.blog {
    @include stderr-icon;
  }

  a.twitter {
    @include twitter-icon;
  }

  a.github {
    @include github-icon;
  }

  #license {
    position: absolute;
    bottom: 0px;
    right: 0;
    margin: 0;
  }
}