@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: "entypo";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/entypo.eot");
  src: url("../fonts/entypo.eot?#iefix") format("embedded-opentype"), url("../fonts/entypo.woff") format("woff"), url("../fonts/entypo.ttf") format("truetype"), url("../fonts/entypo.svg#entypo") format("svg"); }

body {
  margin: 0; }

body > section {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  body > section:before, body > section:after {
    content: " ";
    display: table; }
  body > section:after {
    clear: both; }

header,
article,
.comments,
footer {
  margin-left: 8.5298%;
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 82.94039%; }
  header:last-child,
  article:last-child,
  .comments:last-child,
  footer:last-child {
    margin-right: 0; }
  @media screen and (min-width: 480px) {
    header,
    article,
    .comments,
    footer {
      margin-left: 25.58941%;
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 57.35098%; }
      header:last-child,
      article:last-child,
      .comments:last-child,
      footer:last-child {
        margin-right: 0; } }

@media screen and (min-width: 480px) {
  footer #more {
    display: block;
    float: left;
    margin-right: 4.11092%;
    width: 25.63506%; }
    footer #more:last-child {
      margin-right: 0; } }

@media screen and (min-width: 480px) {
  footer #about,
  footer #other {
    display: block;
    float: left;
    margin-right: 4.11092%;
    width: 70.25402%;
    margin-right: 0; }
    footer #about:last-child,
    footer #other:last-child {
      margin-right: 0; } }

@media screen and (min-width: 480px) {
  footer #license {
    display: block;
    float: left;
    margin-right: 4.11092%;
    width: 100%; }
    footer #license:last-child {
      margin-right: 0; } }

body {
  font-family: "Droid Serif", serif;
  font-size: 18px;
  line-height: 2; }

h1 {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase; }

hgroup h2 {
  font-family: "Droid Serif", serif;
  font-size: 15px;
  font-weight: 400;
  font-style: italic; }

h2 {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.3;
  margin-top: 36px; }
  @media screen and (min-width: 480px) {
    h2 {
      font-size: 40px;
      margin-top: 108px; } }
  h2 a {
    text-decoration: none; }

h3 {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 54px;
  margin-bottom: 18px; }

p, ul, ol {
  margin: 0 0 36px 0; }

li {
  padding-left: 10px; }

pre {
  background-color: #fff;
  padding: 18px;
  margin-top: -18px;
  margin-bottom: 18px;
  opacity: 0.7;
  font-size: 16px;
  line-height: 1.5; }

#license {
  margin: 36px 0;
  font-size: 15px;
  line-height: 1.5; }
  #license a {
    text-decoration: none; }

.comments {
  margin-top: 36px;
  margin-bottom: 36px; }

body {
  background: #fff;
  color: #333; }

time {
  color: #444; }

a:active,
a:hover {
  color: #1b69b6; }

a {
  color: #666; }

#license {
  color: #bbb; }
  #license a,
  #license a:active,
  #license a:hover {
    color: #bbb; }

header {
  line-height: 1; }
  header hgroup {
    position: relative; }
  header h1 a:before {
    display: block;
    position: absolute;
    left: 0;
    top: -40px;
    font-size: 40px;
    color: #444; }
    @media screen and (min-width: 480px) {
      header h1 a:before {
        font-size: 50px;
        left: -85px;
        top: 5px; } }
  header h1 {
    padding-top: 0.3em;
    margin: 2.8em 0 0.3em 0; }
    @media screen and (min-width: 480px) {
      header h1 {
        margin: 2em 0 0.3em 0; } }
    header h1 a:before {
      font-family: "entypo";
      content: "\1f500"; }
  header h2 {
    margin: 0 0 2.3em 0;
    color: #444; }
  header a {
    text-decoration: none;
    color: #333333; }

.overview ul {
  margin-top: 108px;
  padding: 0; }
.overview li {
  padding: 0;
  list-style: none;
  margin-top: 36px; }

article {
  position: relative; }
  @media screen and (min-width: 480px) {
    article time {
      position: absolute;
      right: 100%;
      padding-right: 35px;
      white-space: nowrap; } }

footer {
  position: relative; }
  footer ul {
    padding: 0;
    list-style: none; }
  footer li {
    padding: 0; }
  footer #more a {
    position: relative; }
    footer #more a:before {
      display: block;
      position: absolute;
      font-size: 23px;
      line-height: 1;
      top: 50%;
      margin-top: -11.5px;
      width: 23px;
      text-align: center;
      left: 150px; }
      @media screen and (min-width: 480px) {
        footer #more a:before {
          left: -45px; } }
  footer #more a.twitter:before {
    font-family: "entypo";
    content: "\F309"; }
  footer #more a.atom:before {
    font-family: "entypo";
    content: "\E73A"; }
  footer #more a.github:before {
    font-family: "entypo";
    content: "\F300"; }
  footer #more a.google:before {
    font-family: "entypo";
    content: "\f30f"; }
  footer #license {
    position: relative; }
    footer #license:before {
      font-family: "entypo";
      content: "\e7a5\e7a6"; }
    footer #license:before {
      display: block;
      font-size: 23px;
      width: 23px;
      text-align: center;
      text-decoration: none; }
      @media screen and (min-width: 480px) {
        footer #license:before {
          position: absolute;
          left: -63px;
          top: 50%;
          line-height: 1;
          margin-top: -11.5px; } }

#me {
  padding-left: 20%;
  padding-top: 5%;
  height: 100%; }
  #me h2 {
    margin-top: 0;
    margin-left: -58px; }
  #me ul {
    padding: 0;
    list-style: none; }
  #me li {
    padding: 0;
    margin: 72px; }
  #me li a {
    display: block;
    position: relative; }
    #me li a:before {
      display: block;
      font-size: 100px;
      width: 100px;
      text-align: center;
      text-decoration: none; }
      @media screen and (min-width: 480px) {
        #me li a:before {
          position: absolute;
          left: -130px;
          top: 125%;
          line-height: 1;
          margin-top: -50px; } }
  #me a.blog:before {
    font-family: "entypo";
    content: "\1f500"; }
  #me a.twitter:before {
    font-family: "entypo";
    content: "\F309"; }
  #me a.github:before {
    font-family: "entypo";
    content: "\F300"; }
  #me #license {
    position: absolute;
    bottom: 0px;
    right: 0;
    margin: 0; }
